.menu {
  width: 100%;
  margin-top: 10rem;
}

.menu-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-heading ul {
  list-style: none;
  background-color: var(--dark-grey-shade);
  padding: 8px 10px;
  border-radius: 4px;
}
.menu-heading ul li {
  display: inline-block;
  padding: 8px 24px;
  margin-inline: 0.3rem;
  color: var(--black-shade);
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 4px;
}
.menu-heading ul li:hover {
  /* padding: 4px; */
  background-color: var(--grey-shade);
  color: var(--black-shade);
}
.menu-heading ul li.active,
.menu-heading ul li.active:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 15px;
  margin-top: 2rem;
}
.menu-card {
  height: 365px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--grey-shade);
  cursor: pointer;
}

.food-img {
  position: relative;
}

.img-container {
  position: relative;
  /* display: inline-block; */
  overflow: hidden;
  width: 100%;
}
.img-container img {
  display: block;
  width: 100%;
  height: 250px;
}
.overlay {
  position: absolute;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #ddd6ff3f;
  opacity: 0;
  transition: top 0.4s ease;
}
.drop-btn {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.img-container:hover .overlay {
  opacity: 1;
  top: 0;
}

.food-details {
  position: absolute;
  bottom: 8%;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: #fff;
  padding: 4px 12px;
  border-radius: 1rem;
  font-size: 15px;
}
.food-details p {
  color: var(--secondary-color);
}
.food-details span {
  color: var(--grey);
  font-size: 12px;
}
.desc {
  padding-left: 1rem;
}
.desc p {
  color: var(--grey);
}
.desc .price {
  margin-top: 14px;
}
.desc h4 {
  font-size: 18px;
}
