.menu {
  width: 100%;
  margin-top: 10rem;
}

.menu-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-heading ul {
  list-style: none;
  background-color: var(--dark-grey-shade);
  padding: 8px 30px;
}
.menu-heading ul li {
  display: inline-block;
  padding: 8px 24px;
  color: var(--black-shade);
  cursor: pointer;
  transition: 0.3s ease-in;
}
.menu-heading ul li:hover {
  /* padding: 4px; */
  background-color: var(--grey-shade);
  color: var(--black-shade);
}
.menu-heading ul li:active {
  color: var(--primary-color);
}

.menu-grid {
  width: 100%;
}
.menu-card {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--grey-shade);
}
.menu-card img {
  width: 100%;
  height: 300px;
}
.food-img {
  position: relative;
}

.food-img .btn {

  background-color: #7373737c;
  /* width: 100%; */
   position: absolute;
  top: 50%;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
.img-span {
  position: absolute;
  bottom: 8%;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: #fff;
  padding: 4px 12px;
  border-radius: 1rem;
  font-size: 15px;
}
.img-span p {
  color: var(--secondary-color);
}
.img-span span {
  color: var(--grey);
  font-size: 12px;
}
.desc {
  padding-left: 1rem;
}
.desc p {
  color: var(--grey);
}
.desc .price {
  margin-top: 14px;
}
