.app-download{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    gap: 4rem;
    background-color: var(--secondary-color);
    padding-block: 3rem;
    /* padding-inline: 15rem; */
}
.download-details{
    width: 50%;
}
.mockup{
    position: relative;
}
.mockup-img{
width: 250px;
}
.mockup-logo{
    width: 30%;
    position: absolute;
    top: 43%;
    left: 37%;

}
.link-to-d{
    display: flex;
    gap: 3rem;
}
.link-t{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ffffff;
   border-radius: 3rem;
   padding-block: 14px;
   font-size: 12px;
   gap: 0.5rem;
   max-width: 200px;
   cursor: pointer;
}
.link-t:hover{
   background-color: #f4f2f2;
}
.apple{
   width: 15%;
}
.play{
   width: 20%;
}