.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7008e7;
    color: #fff;
}
.register ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding-inline: 20px;
    font-size: 20px;
    border-bottom: 2px solid #fff; 
    margin-bottom: 1.5rem;
}
.register li{
    cursor: pointer;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form h3{
    margin-bottom: 0.5rem;

}
form{
    display: block;
    padding-block: 10px;
}
.forms{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
 .reg-input{
    border-radius: 30px;
    border: 1px solid #fff;
    width: 300px;
    
}
.register button{
    background-color: #fff;
    color: var(--primary-color);
    border-radius: 30px;
    width: 300px;
}