footer {
  color: var(--grey);
  background-color: var(--grey-shade);
}
.footer-div {
    display: flex;
    flex-direction: column;
    margin-inline: 8rem;
}
.footer {
    margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 4rem; */
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--dark-grey-shade);
}
.links {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.ul {
  list-style: none;
  margin-right: 8rem;
}
.li,
strong {
  padding-block: 0.5rem;
  font-size: 14px;
  position: relative;
}
.li {
  cursor: pointer;
}
.li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 90%;
  background-color: var(--grey);
  transform: scaleY(0);
  transition: 0.2s ease;
}
.li:hover:after {
  transform: scaleY(1);
}

.sub-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn-sub {
  padding: 15px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
}
.input {
  display: flex;
  align-items: center;
}

input {
  background-color: var(--light-grey-shade);
  padding: 16px 30px;
  border: none;
  outline: none;
  color: var(--primary-color);
}
input:hover {
  border: 1px solid #7008e7; 
}

input:focus {
  border-color: 1px solid #5d0ec0;
}
.subscription p {
  width: 400px;
  font-size: 12px;
}.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}
.lo-go{
display: flex;
align-items: center;
gap: 0.3rem;
}
.social-link{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.social-link img{
    transition: 0.3s ease;
}
.social-link img:hover{
     filter: brightness(0.6);
}
@media (max-width: 1600px){
  .ul {
  margin-right: 6rem;
}
.footer-div {
    margin-inline: 4rem;
}
}


@media (max-width: 1200px){
  .ul {
  margin-right: 4rem;
}
}



@media (max-width: 1215px){
.footer {
 flex-direction: column;
 justify-content: center;
 gap: 3rem;
}
  .ul {
  padding-inline: 4rem;
}
  .ul {
  margin-right: 0;
}
.subscription p {
  width: 300px;
  font-size: 12px;
}
.sub-div {
  justify-content: center;
  align-items: center;
}
}
@media (max-width: 950px){

  .ul {
  padding-inline: 2rem;
}
 
}

