footer {
  color: var(--grey);
  background-color: var(--grey-shade);
}
.footer-div {
  display: flex;
  flex-direction: column;
  margin-inline: 8rem;
}
.footer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 4rem; */
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--dark-grey-shade);
}
.links {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 8rem;
}
.ul {
  list-style: none;
}
.li,
strong {
  padding-block: 0.5rem;
  font-size: 14px;
  position: relative;
}
.li {
  cursor: pointer;
}
.li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 90%;
  background-color: var(--grey);
  transform: scaleY(0);
  transition: 0.2s ease;
}
.li:hover:after {
  transform: scaleY(1);
}

.sub-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn-sub {
  padding: 15px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
}
.input {
  display: flex;
  align-items: center;
}

input {
  background-color: var(--light-grey-shade);
  padding: 16px 30px;
  border: none;
  outline: none;
  color: var(--primary-color);
}
input:hover {
  border: 1px solid #7008e7;
}

input:focus {
  border-color: 1px solid #5d0ec0;
}
.subscription p {
  width: 400px;
  font-size: 12px;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.lo-go {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.social-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.social-link img {
  transition: 0.3s ease;
}
.social-link img:hover {
  filter: brightness(0.6);
}


@media (max-width: 1380px) {
  .links {
    gap: 6rem;
  }
  .footer-div {
    margin-inline: 4rem;
  }
}
@media (max-width: 1180px) {
  .links {
    gap: 4rem;
  }
}

@media (max-width: 1100px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
  .links {
    gap: 12rem;
  }
  .subscription p {
    width: 300px;
    font-size: 12px;
  }
  .sub-div {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .links {
   gap: 8rem;
  }

}
@media (max-width: 900px) {
  .links {
   /* gap: 6rem; */
  }

}
@media (max-width: 800px) {
  .links {
   gap: 6rem;
  }

  .footer-div {
  margin-inline: 2rem;
  }
}
@media (max-width: 650px) {
  .links {
   gap: 3rem;
  }

}

@media (max-width: 500px) {
    .links {
   gap: 1rem;
  }
  .footer-div {
    margin-inline: 0.1rem;
  }
}
