nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  margin-inline: 8%;
  /* color: var(--grey); */
}
.logo {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}
.logo h2 {
  font-weight: 600;
  color: var(--secondary-color);
}

.nav-content {
  display: flex;
  gap: 2rem;
  align-items: center;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-inline: 1.5rem;
  font-size: 15px;
  position: relative;
  cursor: pointer;
}
.login {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.login p {
  position: relative;
  cursor: pointer;
}

/* hover effect */
nav ul li::after,
.login p::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transition: 0.2s ease;
}
nav ul li:hover:after,
.login p:hover:after {
  color: var(--primary-color);
  transform: scaleX(1);
}
.ham-menu {
  display: none;
}
.close {
  display: none;
}
@media (max-width: 1100px) {
  .ham-menu {
    display: block;
    font-size: 30px;
    color: var(--secondary-color);
  }
  .nav-content {
    position: fixed;
    margin-top: 1.8rem;
    inset: 0;

    background: #ffffff;
    z-index: 2;
    width: 90%;
    height: fit-content;
    padding-block: 30px;
    transition: 0.5s ease-in;
    border: 1px solid var(--light-grey-shade);
    flex-direction: column;
    margin-inline: auto;
    gap: 0;
    border-radius: 1rem;
  }
  .open-menu {
    transform: translateX(0);
  }
  .close-menu {
    transform: translateX(150%);
  }
  .close {
    display: block;
    position: absolute;
    right: 5%;
    margin-bottom: 2rem;
    font-size: 30px;
    color: var(--secondary-color);
  }
  nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1.5rem;
  }
  nav ul li {
    display: block;
    text-align: center;
    gap: 1.5rem;
  }
  .login {
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }
}
